
<mat-card>
    <mat-card-title>Available Toppings</mat-card-title>
        <mat-card-content>


            <button mat-raised-button color="warn" (click)="checkAll()">
                Check All
            </button>
            <button mat-raised-button color="warn" (click)="clearAll()">
                Clear All
            </button>
            <br>
        <br>
        <div
            *ngFor="let pt of pizzaToppings"
        >
        <label>
            <mat-checkbox [(ngModel)]="pt.checked"></mat-checkbox>
            {{ pt.name }} ({{ pt.price | currency }})
        </label>
        </div>
        <h2>{{ total | currency }}</h2>




    </mat-card-content>



</mat-card>




