<html>
    <form action="post">

        <label for="firstName">First Name:<span class="required"><sup>*required</sup></span></label>
        <input type="text" name="firstName" id="firstName" placeholder="First Name" required />
        <br>

        <label for="lastName">Last Name:<span class="required"><sup>*required</sup></span></label>
        <input type="text" name="lastName" id="lastName" placeholder="Last Name" required />
        <br>

        <label for="streetAddress">Street Address:<span class="required"><sup>*required</sup></span></label>
        <input type="text" name="streetAddress" id="streetAddress" placeholder="123 Cherry St." required />
        <br>

        <label for="city">City:<span class="required"><sup>*required</sup></span></label>
        <input type="text" name="city" id="city" placeholder="Cincinnati" required />
        <br>

        <label for="state">State:<span class="required"><sup>*required</sup></span></label>
        <input type="text" name="state" id="state" placeholder="Ohio" required />
        <br>

        <label for="zipCode">Zip Code:<span class="required"><sup>*required</sup></span></label>
        <input type="text" name="zipCode" id="zipCode" placeholder="45201" required />
        <br>

        <label for="phone">Phone:</label>
        <input type="text" name="phone" id="phone" placeholder="(800)867-5309">
    </form>

    <button type="submit"> Add Customer </button>
</html>