<mat-card>
    <mat-card-title>
        Customer Information
    </mat-card-title>
    <br />
    <mat-card-content>

        <form class="example-form">
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input 
                    matInput
                    [(ngModel)]="customer.firstName"
                    name="fname"
                >
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input 
                    matInput
                    [(ngModel)]="customer.lastName"
                    name="lname"
                >
            </mat-form-field>
            <br />
            <mat-form-field appearance="fill">
                <mat-label>Street Address</mat-label>
                <input matInput>
            </mat-form-field>
            <br />
            <mat-form-field appearance="fill">
                <mat-label>City</mat-label>
                <input matInput>
            </mat-form-field>
            &nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="Alabama">AL</mat-option>
                  <mat-option value="Alaska">AK</mat-option>
                  <mat-option value="Arizona">AZ</mat-option>
                  <mat-option value="Arkansas">AR</mat-option>
                  <mat-option value="California">CA</mat-option>
                  <mat-option value="Colorado">CO</mat-option>
                  <mat-option value="Connecticut">CT</mat-option>
                  <mat-option value="Delaware">DE</mat-option>
                  <mat-option value="Florida">FL</mat-option>
                  <mat-option value="Georgia">GA</mat-option>
                  <mat-option value="Hawaii">HI</mat-option>
                  <mat-option value="Idaho">ID</mat-option>
                  <mat-option value="Illinois">IL</mat-option>
                  <mat-option value="Indiana">IN</mat-option>
                  <mat-option value="Iowa">IA</mat-option>
                  <mat-option value="Kansas">KS</mat-option>
                  <mat-option value="Kentucky">KY</mat-option>
                  <mat-option value="Louisiana">LA</mat-option>
                  <mat-option value="Maine">ME</mat-option>
                  <mat-option value="Maryland">MD</mat-option>
                  <mat-option value="Massachusetts">MA</mat-option>
                  <mat-option value="Michigan">MI</mat-option>
                  <mat-option value="Minnesota">MN</mat-option>
                  <mat-option value="Mississippi">MS</mat-option>
                  <mat-option value="Missouri">MO</mat-option>
                  <mat-option value="Montana">MT</mat-option>
                  <mat-option value="Nebraska">NE</mat-option>
                  <mat-option value="Nevada">NV</mat-option>
                  <mat-option value="New Hampshire">NH</mat-option>
                  <mat-option value="New Jersey">NJ</mat-option>
                  <mat-option value="New Mexico">NM</mat-option>
                  <mat-option value="New York">NY</mat-option>
                  <mat-option value="North Carolina">NC</mat-option>
                  <mat-option value="North Dakota">ND</mat-option>
                  <mat-option value="Ohio">OH</mat-option>
                  <mat-option value="Oklahoma">OK</mat-option>
                  <mat-option value="Maine">ME</mat-option>
                  <mat-option value="Oregon">OR</mat-option>
                  <mat-option value="Pennsylvania">PA</mat-option>
                  <mat-option value="Rhode Island">RI</mat-option>
                  <mat-option value="South Carolina">SC</mat-option>
                  <mat-option value="South Dakota">SD</mat-option>
                  <mat-option value="Tennessee">TN</mat-option>
                  <mat-option value="Texas">TX</mat-option>
                  <mat-option value="Utah">UT</mat-option>
                  <mat-option value="Vermont">VT</mat-option>
                  <mat-option value="Virginia">VA</mat-option>
                  <mat-option value="Washington">WA</mat-option>
                  <mat-option value="West Virginia">WV</mat-option>
                  <mat-option value="Wisconsin">WI</mat-option>
                  <mat-option value="Wyoming">WY</mat-option>
                </mat-select>
              </mat-form-field>

              &nbsp;
            <mat-form-field appearance="fill">
                <mat-label>Zip Code</mat-label>
                <input matInput #postalCode maxlength="5" placeholder="Ex. 94105" value="94043">
                <mat-hint align="end">{{postalCode.value.length}} / 5</mat-hint>
            </mat-form-field>

            <br />
            <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Phone Number</mat-label>
                <span matPrefix>+1 &nbsp;</span>
                <input type="tel" matInput placeholder="800-867-5309">
              </mat-form-field>


        </form>

        

        
        &nbsp;
        <br />
    
        <button 
            mat-raised-button color="accent"
            type="submit"
        > 
            Add Customer 
        </button>

        {{ customer.firstName }} {{ customer.lastName }}

    </mat-card-content>
</mat-card>
    
