/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 30px auto;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  max-width: 900px;
  background-color: aliceblue;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.grid-item {
  flex: 0 0 48%;
  margin: 5px;
}
